{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="section project-section">
  
  <h2 class="project-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% if skills.intro %}
  <div class="intro">
      <p>{{ skills.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for skill in skills.assignments %}
    <div class="item">

      <span class="project-title">
        {% if skill.link %}
        <a href="{{ skill.link }}" target="_blank">{{ skill.title }}</a>
        {% else %}
        {{ skill.title }}
        {% endif %}
      </span>

      {% if skill.tagline %}
      - <span class="project-tagline">{{ skill.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}
  
</section><!--//section-->
{% endif %}
