{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">
  
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% if skills.intro %}
  <div class="intro">
      <p>{{ skills.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for skills in skills.assignments %}
    <div class="item">

      <span class="skills-title">
        {% if project.link %}
        <a href="{{ skills.link }}" target="_blank">{{ skills.title }}</a>
        {% else %}
        {{ skills.title }}
        {% endif %}
      </span>

      {% if skills.tagline %}
      - <span class="skills-tagline">{{ skills.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}
  
</section><!--//skills-section-->
{% endif %}
